h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    margin-top: 21px;
    margin-left: 500px;
}

div.box{
    height: 250px;
    width: 50%;
    background: linear-gradient(110deg, rgb(117, 116, 116) 40%, rgb(67, 66, 66)40%, rgb(67, 66, 66)60%, black 60%);
    margin-left: 350px;
}

.box2{
    position: absolute;
    margin-top: 55px;
    margin-left: 140px;
}

div.box2 span{
    margin: 0;
    font-size: 90px;
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    color: white;
    margin-right: 50px;
}

.b2, .b3{
    font-weight: bold;
}

div.para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 500px;
    width: 425px;
    color: gray;
}