*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(232, 232, 232);
}

.nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    background-color: rgb(49, 46, 46);
    margin: 0;
    position: fixed;
    top:0;
    z-index: 9999;
}

.logo{
    color: white;
    margin-left: 125px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.services{
    margin-right: 120px;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.services span{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main_info{
    background-image: url(https://koa.com/blog/images/family-camping-at-sunset.jpg?preset=heroimagecropped);
    width: 100%;
    height: 100vh;
    text-align: center;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

.info{
    position: relative;
    top: 280px;
}

.info h1 , .info span {
    position: relative;
    color: white;
    font-family:'Poppins', sans-serif;
}

.info h1{
    font-weight: 700;
    font-size: 60px;
}

.info span{
    font-size: 20px;
    margin-top: 30px;
}

.info button{
    background-color: white;
    padding: 10px 30px;
    border: white;
    border-radius: 5px;
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    margin-top: 50px;
}

.info button:hover{
    background-color: transparent;
    border:3px solid white;
}

.text{
    width: 100%;
    text-align: center;
    margin-top: 75px;
}

.font{
    font-family: 'Poppins', sans-serif;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 100px;
    margin-top: 30px;
}

.content_boxes{
    background-color: white;
    height: 320px;
    width: 360px;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img{
    height: 120px;
    width: 120px;
    border-radius: 90px;
    margin: 30px 0;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 50px 140px;
}

.text2{
    margin:15px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.contact{
    display: flex;
    justify-content: space-between;
    margin: 60px 140px;
    margin-bottom: 100px;
}

.address{
    align-self: center;
    display: flex;
    flex-direction: column;
}

.details{
    display: flex;
    flex-direction: column;
}

.details input{
    padding: 12px;
    border: 0.5px solid rgba(62, 61, 61, 0.777);
    margin-bottom: 20px;
}

.details textarea{
    padding: 12.5px;
    border: 0.5px solid rgba(62, 61, 61, 0.777);
}

.details input::placeholder{
    font-size: 16px;
    font-weight: 100;
    font-family:'Poppins', sans-serif;
}

.details textarea::placeholder{
    font-size: 16px;
    font-weight: 100;
    font-family:'Poppins', sans-serif;
}

.details button{
    background-color: rgb(49, 46, 46);
    padding: 10px 30px;
    color: white;
    border: rgb(49, 46, 46);
    border-radius: 6px;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    margin-top: 10px;
    align-self: flex-start;
}

i{
    color: gray;
    margin-right: 12px;
}

.details button:hover{
    background-color: rgba(49, 46, 46, 0.775);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    
}
